* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #282a35;
    --font-color: whitesmoke;
}

body {
    /* width: 100dvw; */
    height: 100dvh;
    font-family: Arial, sans-serif;
    position: relative;
}

.overlay{
    width: 0%;
    right: 200%;
    top: 0px;
    height: 100dvh;
    position: absolute;
    background-color: #1e2028;
    color: var(--font-color);
    padding: 5%;
    transition: all 1.2s;
}

.overlay.show{
    right: 0%;
    width: 100%;
}

.overlay ul{
    padding: 10%;
    list-style-type: none;
}

.overlay ul li{
    padding: 5%;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: right;
    flex-wrap: wrap;
    background-color: var(--background-color);
    padding: 5px;
}

header nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

header nav ul li{
    padding: 8px 10px;
    text-decoration: none;
    font-size: 18px;
    margin: 5px;
    color: whitesmoke;
    cursor: pointer;
    user-select: none;
}

header nav ul li.openmenu{
    display: none;
}

header nav ul li:hover {
    /* background-color:rgb(127, 13, 241); */
    border: 1px solid rgb(127, 13, 241);
    border-radius: 20px;
}

main section.aptitude h2{
    padding: 10px;
    margin: 10px;
    text-align: center;
}

main section.aptitude div.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

main section.aptitude div.cards a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
    text-decoration: none;
    color: rgb(127, 13, 241);
    box-shadow: 15px 15px 70px rgba(167, 160, 160,0.7);
    box-shadow: 15px 15px 70px rgba(184, 177, 177, 0.7);
    margin: 20px;
    font-weight: bold;
}

main section.aptitude div.cards span{
    transition: transform 0.5s;
    color: black;
    margin-left: 10px;
    font-size: 1rem;
}

main section.aptitude div.cards a:hover span{
    transform: translateX(30px);
}

main section.aptitude div.cards a:hover{
    transform: scale(1.05);
    border-bottom: 3px solid;
}

/* coding */

main section.coding{
    display: none;
}

main section.coding .searchbar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
}

main section.coding .searchbar input{
    width: 80%;
    padding: 15px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    outline: none;
    border: none;
    text-indent: 10px;
    box-shadow: -5px 5px 30px rgba(167, 160, 160,0.7);
    font-size: 15px;
}

main section.coding .searchbar button{
    border: 0;
    padding: 10px 15px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    background-color: rgb(242, 177, 93);
}

main section.coding .searchbar button span{
    font-weight: bolder;
}

footer{
    text-align: center;
}

body.dark{
    background-color: #1e2028;
    color: wheat;
}

body.dark main section.aptitude div.cards a{
    color: rgb(128, 0, 255);
    /* box-shadow: 15px 15px 70px rgba(167, 160, 160,0.7); */
    box-shadow: 15px 15px 70px rgb(11, 11, 11);
}

body.dark main section.aptitude div.cards span{
    color: wheat;
}

body.dark main section.coding .searchbar input{
    box-shadow: 15px 15px 70px rgb(0, 0, 0);
}

@media screen and (max-width: 480px) {
    header nav ul li:nth-child(2),header nav ul li:nth-child(3){
        display: none;
    }

    header nav ul li.openmenu{
        display: block;
    }

    main section.aptitude h2{
        font-size: 1rem;
    }    

    main section.aptitude div.cards a{
       font-size: 0.8rem;
    }
}