* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}

:root {
    --background-color: rgb(39, 38, 38);
    --background-color: #282a35;
    --font-color: whitesmoke;
}

body {
    width: 100dvw;
    height: 100dvh;
    background-color: var(--background-color);
    color: var(--font-color);
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5dvw;
}

header nav ul {
    list-style-type: none;
    display: flex;
}

header nav ul li a {
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    margin: 5px;
    color: whitesmoke;
}

header nav ul li a:hover {
    background-color: green;
    border-radius: 5px;
}

header nav .search {
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav .search input {
    padding: 10px;
    font-size: large;
    border-radius: 30px;
    border: 0;
    margin-right: 5px;
    text-indent: 10px;
    outline: none;
}

header nav .search button {
    padding: 10px;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
}

header nav .search button:hover {
    background-color: #282a35;
    border: 1px solid whitesmoke;
    color: wheat;
}

header nav .search button span {
    font-weight: bolder;
    font-size: 20px;
}

footer{
    text-align: center;
}